BODY {
	FONT-WEIGHT: normal; LIST-STYLE-POSITION: outside; FONT-SIZE: 14px; BACKGROUND: #ffffff; COLOR: #000000; FONT-FAMILY: Times, serif
}
TABLE {
	FONT-SIZE: 14px; FONT-FAMILY: Times, serif
}
A:link {
	FONT-WEIGHT: bold; COLOR: #d3595e; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #404040; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
B {
	FONT-WEIGHT: bold
}
EM {
	FONT-STYLE: oblique
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: x-large; FONT-STYLE: oblique
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: x-large
}
H3 {
	MARGIN-TOP: 15px; FONT-WEIGHT: bold; FONT-SIZE: large; MARGIN-BOTTOM: 5px
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: large
}
SUP {
	FONT-SIZE: x-small
}
SUB {
	FONT-SIZE: x-small
}
.main {
	
}
UL.links {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: small; PADDING-BOTTOM: 0px; MARGIN-LEFT: 1.5em; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.menu {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1em; BORDER-TOP: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 0.2em; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 0.2em; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #c00000
}
.paperlinks {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-SIZE: small; PADDING-BOTTOM: 0.2em; MARGIN-RIGHT: 0.4em; PADDING-TOP: 0.2em; BACKGROUND-COLOR: #d0d0d0; TEXT-ALIGN: right
}
.docinfo {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: small; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0.2em; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0.2em; BACKGROUND-COLOR: #800000; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px
}
.headline {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 100%; COLOR: #000000; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #a0a0a0
}
.subheadline {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0.2em; BORDER-TOP: 0px; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 0.2em; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #e0e0c0; TEXT-ALIGN: left
}
CODE {
	FONT-SIZE: medium; FONT-FAMILY: monospace
}
PRE {
	MARGIN-LEFT: 2em; FONT-FAMILY: monospace
}
DT {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
DD {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
DT {
	FONT-WEIGHT: bold
}
